<app-header></app-header>
<main>
  <ul id="users">
    @for(user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectedUsers($event)" />
      <!--<app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (select)="onSelectedUsers($event)"
      />-->
    </li>
    }
    <!--<li>
      <app-user [user]="users[1]" (select)="onSelectedUsers($event)"/>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectedUsers($event)"/>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectedUsers($event)"/>
    </li>
    <li>
      <app-user [user]="users[4]" (select)="onSelectedUsers($event)" />
    </li>-->
  </ul>
  @if (selectedUserName){
  <app-tasks [userName]="selectedUserName" [userId]="selectedUserId!" />
  } @else {
  <p id="fallback">select a user to see their task</p>
  }
</main>
